In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("Entire runs.csv")

In [3]:
data

        Time(s)  Usl(m/s)  Usg(m/s)  Hl (output)
0         0.000     0.050     0.047       0.8946
1         0.005     0.050     0.047       0.8969
2         0.010     0.050     0.047       0.8953
3         0.015     0.050     0.047       0.8972
4         0.020     0.050     0.047       0.8964
...         ...       ...       ...          ...
239995   59.975     0.071     0.709       0.3009
239996   59.980     0.071     0.709       0.2903
239997   59.985     0.071     0.709       0.2803
239998   59.990     0.071     0.709       0.2718
239999   59.995     0.071     0.709       0.2654

[240000 rows x 4 columns]

In [4]:
data.describe()

             Time(s)       Usl(m/s)       Usg(m/s)    Hl (output)
count  240000.000000  240000.000000  240000.000000  240000.000000
mean       29.997500       0.057350       0.948000       0.502006
std        17.320544       0.010016       1.157874       0.262179
min         0.000000       0.050000       0.047000      -0.026800
25%        14.998750       0.050000       0.288000       0.266100
50%        29.997500       0.050000       0.474000       0.485600
75%        44.996250       0.071000       1.063250       0.750800
max        59.995000       0.071000       4.727000       0.943400

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240000 entries, 0 to 239999
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Time(s)      240000 non-null  float64
 1   Usl(m/s)     240000 non-null  float64
 2   Usg(m/s)     240000 non-null  float64
 3   Hl (output)  240000 non-null  float64
dtypes: float64(4)
memory usage: 7.3 MB

In [6]:
data.isnull().any()

Time(s)        False
Usl(m/s)       False
Usg(m/s)       False
Hl (output)    False
dtype: bool

In [7]:
X = data[["Time(s)","Usl(m/s)","Usg(m/s)"]]
y = data["Hl (output)"]

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.3,random_state = 1)

In [9]:
X_train.shape

(168000, 3)

In [10]:
y_train.shape

(168000,)

In [11]:
import numpy as np
from keras.models import Sequential
from keras.layers import Dense
model = Sequential()
model.add(Dense(20, input_dim=X_train.shape[1], kernel_initializer='normal', activation='relu'))
model.add(Dense(20, kernel_initializer='normal', activation='relu'))
model.add(Dense(1, kernel_initializer='normal'))
# Compile model
model.compile(loss='mean_squared_error', optimizer='adam')
model.fit(X_train,y_train,batch_size=32,epochs=10,verbose=1,
        validation_data=(X_test,y_test))

Epoch 1/10
5250/5250 [==============================] - 40s 8ms/step - loss: 0.0291 - val_loss: 0.0256
Epoch 2/10
5250/5250 [==============================] - 40s 8ms/step - loss: 0.0251 - val_loss: 0.0247: 0.0
Epoch 3/10
5250/5250 [==============================] - 38s 7ms/step - loss: 0.0248 - val_loss: 0.0245
Epoch 4/10
5250/5250 [==============================] - 42s 8ms/step - loss: 0.0247 - val_loss: 0.0246
Epoch 5/10
5250/5250 [==============================] - 42s 8ms/step - loss: 0.0246 - val_loss: 0.0243
Epoch 6/10
5250/5250 [==============================] - 39s 7ms/step - loss: 0.0245 - val_loss: 0.0246
Epoch 7/10
5250/5250 [==============================] - 39s 7ms/step - loss: 0.0244 - val_loss: 0.0247
Epoch 8/10
5250/5250 [==============================] - 39s 7ms/step - loss: 0.0244 - val_loss: 0.0241
Epoch 9/10
5250/5250 [==============================] - 42s 8ms/step - loss: 0.0244 - val_loss: 0.0242
Epoch 10/10
5250/5250 [==============================] - 39s 7ms/step - loss: 0.0244 - val_loss: 0.0243

In [12]:
score = model.evaluate(X_test,y_test,batch_size=32)

2250/2250 [==============================] - 12s 5ms/step - loss: 0.0243: 0s - loss: 0.0

In [13]:
pred = model.predict(X_test, batch_size=32)

In [14]:
from sklearn.metrics import mean_squared_error
print(mean_squared_error(y_test,pred))

0.02427198991522083

In [15]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(random_state = 1)
rfr.fit(X_train,y_train)
predict = rfr.predict(X_test)
from sklearn.metrics import mean_squared_error,mean_absolute_error
print(mean_squared_error(y_test,predict))

0.001522614161168401

In [16]:
pred = pd.DataFrame(pred)
predict = pd.DataFrame(predict)

In [17]:
X_test.reset_index(drop=True, inplace=True)
y_test.reset_index(drop=True, inplace=True)
pred.reset_index(drop=True, inplace=True)
predict.reset_index(drop=True, inplace=True)

In [18]:
pred["ANN"] = pred
predict["Random_Forrest"] = predict

In [19]:
predict.columns

Index([0, 'Random_Forrest'], dtype='object')

In [24]:
pred.columns

Index([0, 'ANN'], dtype='object')

In [ ]:
predict.drop(0,  axis='columns', inplace=True)

In [26]:
pred.drop(0,  axis='columns', inplace=True)

In [31]:
predictedentireruns = pd.concat([X_test,y_test,pred,predict], axis=1)

In [32]:
predictedentireruns

       Time(s)  Usl(m/s)  Usg(m/s)  Hl (output)       ANN  Random_Forrest
0        4.135     0.050     2.836       0.1411  0.181547        0.140224
1       30.040     0.071     0.404       0.4695  0.528445        0.460719
2       45.280     0.071     0.288       0.3494  0.600754        0.353662
3       57.330     0.050     2.363       0.2877  0.222031        0.293050
4       16.510     0.071     0.404       0.2556  0.523133        0.254821
...        ...       ...       ...          ...       ...             ...
71995   14.580     0.071     0.047       0.8243  0.789427        0.825306
71996   38.210     0.050     0.709       0.6514  0.472859        0.681087
71997   32.285     0.050     0.288       0.6327  0.633263        0.611524
71998   40.865     0.050     0.544       0.7528  0.521155        0.732986
71999   21.640     0.050     1.418       0.3245  0.337013        0.313482

[72000 rows x 6 columns]

In [33]:
predictedentireruns.to_csv("predictedentireruns.csv")