In [133]:
import pandas as pd
import numpy as np

In [134]:
data = pd.read_csv("run1.csv")

In [135]:
data

       Time (sec)  Usl(m/s)  Usg(m/s)        Vf  bins  Freq.  PDF        Hl
0          0.0000      0.05     0.047  0.105400  0.01      0  0.0  0.894600
1          0.0050      0.05     0.047  0.103100  0.02      0  0.0  0.896900
2          0.0100      0.05     0.047  0.104700  0.03      0  0.0  0.895300
3          0.0150      0.05     0.047  0.102800  0.04      0  0.0  0.897200
4          0.0200      0.05     0.047  0.103600  0.05      0  0.0  0.896400
...           ...       ...       ...       ...   ...    ...  ...       ...
11996     59.9800      0.05     0.047  0.115300  0.00      0  0.0  0.884700
11997     59.9850      0.05     0.047  0.117400  0.00      0  0.0  0.882600
11998     59.9900      0.05     0.047  0.117200  0.00      0  0.0  0.882800
11999     59.9950      0.05     0.047  0.118500  0.00      0  0.0  0.881500
12000     29.9975      0.05     0.047  0.151716  0.00      0  0.0  0.848284

[12001 rows x 8 columns]

In [136]:
data.describe()

,Time (sec),Usl(m/s),Usg(m/s),Vf,bins,Freq.,PDF,Hl
count,12001.000000,1.200100e+04,12001.000,12001.000000,12001.000000,12001.000000,12001.000000,12001.000000
mean,29.997500,5.000000e-02,0.047,0.151716,0.004208,0.999917,0.000083,0.848284
std,17.320508,1.387837e-17,0.000,0.104801,0.052933,36.803896,0.003067,0.104801
min,0.000000,5.000000e-02,0.047,0.063800,0.000000,0.000000,0.000000,0.446900
25%,15.000000,5.000000e-02,0.047,0.094600,0.000000,0.000000,0.000000,0.859600
50%,29.997500,5.000000e-02,0.047,0.106700,0.000000,0.000000,0.000000,0.893300
75%,44.995000,5.000000e-02,0.047,0.140400,0.000000,0.000000,0.000000,0.905400
max,59.995000,5.000000e-02,0.047,0.553100,1.000000,2357.000000,0.196417,0.936200

In [137]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12001 entries, 0 to 12000
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Time (sec)  12001 non-null  float64
 1   Usl(m/s)    12001 non-null  float64
 2   Usg(m/s)    12001 non-null  float64
 3   Vf          12001 non-null  float64
 4   bins        12001 non-null  float64
 5   Freq.       12001 non-null  int64
 6   PDF         12001 non-null  float64
 7   Hl          12001 non-null  float64
dtypes: float64(7), int64(1)
memory usage: 750.2 KB

In [138]:
data.isnull().any()

Time (sec)    False
Usl(m/s)      False
Usg(m/s)      False
Vf            False
bins          False
Freq.         False
PDF           False
Hl            False
dtype: bool

In [139]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(data)
standardized_data = scaler.transform(data)
standardized_data = pd.DataFrame(standardized_data,columns = data.columns)

In [140]:
standardized_data

,Time (sec),Usl(m/s),Usg(m/s),Vf,bins,Freq.,PDF,Hl
0,-1.731979,-1.0,0.0,-4.419636e-01,0.109427,-0.02717,-0.02717,4.419636e-01
1,-1.731690,-1.0,0.0,-4.639108e-01,0.298354,-0.02717,-0.02717,4.639108e-01
2,-1.731401,-1.0,0.0,-4.486432e-01,0.487281,-0.02717,-0.02717,4.486432e-01
3,-1.731113,-1.0,0.0,-4.667735e-01,0.676207,-0.02717,-0.02717,4.667735e-01
4,-1.730824,-1.0,0.0,-4.591397e-01,0.865134,-0.02717,-0.02717,4.591397e-01
...,...,...,...,...,...,...,...,...
11996,1.731113,-1.0,0.0,-3.474953e-01,-0.079500,-0.02717,-0.02717,3.474953e-01
11997,1.731401,-1.0,0.0,-3.274566e-01,-0.079500,-0.02717,-0.02717,3.274566e-01
11998,1.731690,-1.0,0.0,-3.293650e-01,-0.079500,-0.02717,-0.02717,3.293650e-01
11999,1.731979,-1.0,0.0,-3.169601e-01,-0.079500,-0.02717,-0.02717,3.169601e-01
12000,0.000000,-1.0,0.0,-3.180486e-09,-0.079500,-0.02717,-0.02717,3.180486e-09

In [141]:
X = standardized_data[["Time (sec)","Usl(m/s)","Usg(m/s)","Vf","bins","Freq.","PDF"]]
y = standardized_data["Hl"]

In [180]:
X1 = data[["Time (sec)","Usl(m/s)","Usg(m/s)","Vf","bins","Freq.","PDF"]]
y1 = data["Hl"]

In [142]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.3,random_state = 1)

In [181]:
from sklearn.model_selection import train_test_split
X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1,test_size=0.3,random_state = 1)

In [143]:
X_train.shape

(8400, 7)

In [182]:
X1_train.shape

(8400, 7)

In [144]:
X_test.shape

(3601, 7)

In [145]:
y_train.shape

(8400,)

In [146]:
# ANN using standardized data
import numpy as np
from keras.models import Sequential
from keras.layers import Dense
model = Sequential()
model.add(Dense(20, input_dim=X_train.shape[1], kernel_initializer='normal', activation='relu'))
model.add(Dense(20, kernel_initializer='normal', activation='relu'))
model.add(Dense(1, kernel_initializer='normal'))
# Compile model
model.compile(loss='mean_squared_error', optimizer='adam')

In [147]:
model.fit(X_train,
y_train,
batch_size=32,
epochs=10,
verbose=1,
validation_data=(X_test,y_test))

Epoch 1/10
263/263 [==============================] - 2s 9ms/step - loss: 0.3484 - val_loss: 0.0019
Epoch 2/10
263/263 [==============================] - 2s 8ms/step - loss: 0.0015 - val_loss: 8.1314e-04
Epoch 3/10
263/263 [==============================] - 2s 7ms/step - loss: 5.5645e-04 - val_loss: 5.1394e-04
Epoch 4/10
263/263 [==============================] - 2s 7ms/step - loss: 5.9179e-04 - val_loss: 5.0623e-04
Epoch 5/10
263/263 [==============================] - 2s 7ms/step - loss: 1.4061e-04 - val_loss: 2.3771e-04
Epoch 6/10
263/263 [==============================] - 2s 7ms/step - loss: 1.2166e-04 - val_loss: 1.6231e-04
Epoch 7/10
263/263 [==============================] - 2s 8ms/step - loss: 1.3490e-04 - val_loss: 9.2755e-05
Epoch 8/10
263/263 [==============================] - 2s 7ms/step - loss: 8.8262e-05 - val_loss: 3.0684e-04
Epoch 9/10
263/263 [==============================] - 2s 7ms/step - loss: 1.3448e-04 - val_loss: 7.2123e-05
Epoch 10/10
263/263 [==============================] - 2s 7ms/step - loss: 6.6377e-05 - val_loss: 6.6287e-05

In [183]:
# ANN using unstandardized data
import numpy as np
from keras.models import Sequential
from keras.layers import Dense
model = Sequential()
model.add(Dense(20, input_dim=X1_train.shape[1], kernel_initializer='normal', activation='relu'))
model.add(Dense(20, kernel_initializer='normal', activation='relu'))
model.add(Dense(1, kernel_initializer='normal'))
# Compile model
model.compile(loss='mean_squared_error', optimizer='adam')
model.fit(X1_train,
y1_train,
batch_size=32,
epochs=10,
verbose=1,
validation_data=(X1_test,y1_test))
score = model.evaluate(X1_test,
y1_test,
batch_size=32)

Epoch 1/10
263/263 [==============================] - 12s 44ms/step - loss: 0.1863 - val_loss: 0.0866
Epoch 2/10
263/263 [==============================] - 2s 7ms/step - loss: 0.0433 - val_loss: 0.0154
Epoch 3/10
263/263 [==============================] - 2s 8ms/step - loss: 0.0112 - val_loss: 0.0095
Epoch 4/10
263/263 [==============================] - 2s 8ms/step - loss: 0.0103 - val_loss: 0.0062
Epoch 5/10
263/263 [==============================] - 2s 6ms/step - loss: 0.0044 - val_loss: 0.0029
Epoch 6/10
263/263 [==============================] - 2s 6ms/step - loss: 0.0017 - val_loss: 0.0013
Epoch 7/10
263/263 [==============================] - 2s 6ms/step - loss: 8.2427e-04 - val_loss: 7.2053e-04
Epoch 8/10
263/263 [==============================] - 2s 6ms/step - loss: 9.3019e-04 - val_loss: 5.5640e-04
Epoch 9/10
263/263 [==============================] - 3s 11ms/step - loss: 7.5566e-04 - val_loss: 5.8890e-04
Epoch 10/10
263/263 [==============================] - 2s 8ms/step - loss: 6.7265e-04 - val_loss: 6.7017e-04
  1/113 [..............................] - ETA: 0s - loss: 0.0014WARNING:tensorflow:Callbacks method `on_test_batch_end` is slow compared to the batch time (batch time: 0.0000s vs `on_test_batch_end` time: 0.0050s). Check your callbacks.
113/113 [==============================] - 1s 8ms/step - loss: 6.7017e-04

In [148]:
score = model.evaluate(X_test,
y_test,
batch_size=32)

  1/113 [..............................] - ETA: 0s - loss: 3.3928e-04WARNING:tensorflow:Callbacks method `on_test_batch_end` is slow compared to the batch time (batch time: 0.0000s vs `on_test_batch_end` time: 0.0050s). Check your callbacks.
113/113 [==============================] - 0s 4ms/step - loss: 6.6287e-05

In [184]:
pred = model.predict(X1_test, batch_size=32)

In [186]:
from sklearn.metrics import mean_squared_error
print(mean_squared_error(y1_test,pred))

0.0006701718018136757

In [151]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor()
rfr.fit(X_train,y_train)
predict = rfr.predict(X_test)
from sklearn.metrics import mean_squared_error,mean_absolute_error
print(mean_squared_error(y_test,predict))

8.570872616807018e-07

In [162]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor()
rfr.fit(X1_train,y1_train)
predict = rfr.predict(X1_test)
from sklearn.metrics import mean_squared_error,mean_absolute_error
print(mean_squared_error(y1_test,predict))

2.0430260320872632e-08

In [169]:
y1_test

7163     0.4898
10386    0.9011
1902     0.7965
3397     0.7516
11696    0.9055
          ...
5544     0.8804
11694    0.9068
5477     0.9055
588      0.8929
7719     0.8913
Name: Hl, Length: 3601, dtype: float64

In [187]:
pred = pd.DataFrame(pred)
predict = pd.DataFrame(predict)

In [188]:
X1_test.reset_index(drop=True, inplace=True)
y1_test.reset_index(drop=True, inplace=True)
pred.reset_index(drop=True, inplace=True)
predict.reset_index(drop=True, inplace=True)

In [189]:
pred["ANN"] = pred
predict["Random_Forrest"] = predict

In [ ]:
pred.drop(0,  axis='columns', inplace=True)
predict.drop(0,  axis='columns', inplace=True)

In [190]:
run1 = pd.concat([X1_test,y1_test,pred,predict], axis=1)

In [191]:
run1

,Time (sec),Usl(m/s),Usg(m/s),Vf,bins,Freq.,PDF,Hl,0,ANN,0,Random_Forrest
0,35.815,0.05,0.047,0.5102,0.0,0,0.0,0.4898,0.495317,0.495317,0.489807,0.489807
1,51.930,0.05,0.047,0.0989,0.0,0,0.0,0.9011,0.905301,0.905301,0.901191,0.901191
2,9.510,0.05,0.047,0.2035,0.0,0,0.0,0.7965,0.791546,0.791546,0.796271,0.796271
3,16.985,0.05,0.047,0.2484,0.0,0,0.0,0.7516,0.749076,0.749076,0.751730,0.751730
4,58.480,0.05,0.047,0.0945,0.0,0,0.0,0.9055,0.911266,0.911266,0.905456,0.905456
...,...,...,...,...,...,...,...,...,...,...,...,...
3596,27.720,0.05,0.047,0.1196,0.0,0,0.0,0.8804,0.878872,0.878872,0.880424,0.880424
3597,58.470,0.05,0.047,0.0932,0.0,0,0.0,0.9068,0.912547,0.912547,0.906925,0.906925
3598,27.385,0.05,0.047,0.0945,0.0,0,0.0,0.9055,0.903566,0.903566,0.905456,0.905456
3599,2.940,0.05,0.047,0.1071,0.0,0,0.0,0.8929,0.885075,0.885075,0.892927,0.892927
3600,38.595,0.05,0.047,0.1087,0.0,0,0.0,0.8913,0.892325,0.892325,0.891254,0.891254